<%= render "shared/header", text: "Intervenants de formation :" %>
<div class="yield-container">
<h1>Nouvelle fiche intervenant</h1>
<%= render "shared/form_intervenant", intervenant: @intervenant %>
</div>
