<div class="yield-container">
    <h1>Pré-inscription #<%= @preinscription.id %> enregistrée</h1>
    <i class="fa-regular fa-circle-check"></i>
    <p>Votre pré-inscription <strong>a bien été prise en compte</strong>, vous serez tenu au courant de son avancée par mail !</p>
    <p>En cas de soucis, vous pouvez transmettre <u>la reference de votre demande</u> : <strong><%= @preinscription.id %></strong></p>
</div>
<p></p>