.dashboard {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .dashboard-series {
    display: flex;
    gap: 20px;
    width: 1150px;
  }

  .grapheCA {
    width: 65%;
  }

  .grapheprog {
    flex-grow:1;
  }

  .grapheclients {
    flex-grow:1;
  }

  // .graphe:nth-child(3) {
  //   width: 55%;
  // }

  #next-session {
    font-size: 1rem;
    width: 55%;

    .next-session-name {
      padding: 7px;
      margin: 7px;
      border-bottom: solid rgba(140, 140, 140, 0.4) 1px;
    }

    .dashboard-participants {
      display: flex;
      justify-content: space-evenly;
    }

    p {
      line-height: 0.6;
    }

    h4 {
      font-size: 17px;
      font-weight: 600;
    }
}


}
