.intervenants {
  margin: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
  padding-left: 40px;
}

.intervenants-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}


.card-intervenants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-intervenant-maxi {
  //width: 450px;
  //height: 450px;
  background-color: $white;

  padding: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  width: 22em;
  //justify-content: space-around;
  border-radius: $medium-radius;
  border: 1px solid $black;
  align-items: center;
}

.card-intervenant-mini {
  //width: 500px;
  //height: auto;
  background-color: $white;

  padding: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: $medium-radius;
  border: 1px solid $black;
  align-items: center;
}

.card-intervenant-i {
  font-size: 146px;
  margin-top: 33px;
  margin-bottom: 38px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: $pri-color;
  }
}

.card-intervenant-img {
  align-self: center;
  padding: 10px;
  clip-path:ellipse(35% 35%);


}

.card-intervenant-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-self: center;
  align-items: left;
}

.card-intervenant-txt-center {
  align-self: center;
}

.btn-intervenant {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding-bottom: 10px;
}

.btn-intervenant-block {
  display: block;
  text-align: center;
}
