.intervenants {
  margin: -20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intervenants-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}


.card-intervenants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-intervenant-maxi {
  width: 450px;
  height: 450px;
  background-color: $white;

  padding: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: $medium-radius;
  border: 1px solid $black;
  align-items: center;
}

.card-intervenant-mini {
  width: 500px;
  height: auto;
  background-color: $white;

  padding: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: $medium-radius;
  border: 1px solid $black;
  align-items: center;
}

.card-intervenant-img {
  align-self: center;
  padding: 20px;

  .fa-solid {
    color: $pri-color;
    font-size: 60px;
    line-height: 10px;
  }
}

.card-intervenant-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}
