<header>
    <a href="/" class="a-logo"><img src="https://i.ibb.co/zr1Rwgb/logoformatik.png" alt="Logo" width="30">ormatik</a>
    <ul>
    <li><%= link_to 'Dashboard', root_path, class: " #{'color-active' if current_page?(root_path)}" %></li>
    <li><%= link_to 'Mes sessions', sessions_path, class: " #{'color-active' if current_page?(sessions_path)}" %></li>
    <li><%= link_to 'Inscriptions', inscriptions_path, class: " #{'color-active' if current_page?(inscriptions_path)}" %></li>
    </ul>

</header>
