<%= render "shared/header", text: "Tableau de bord" %>
<div class="yield-container">
  <div class="dashboard" data-controller="chartjs">

    <div class="sec-back-plate graphe">
      <canvas id="CAChart"  data-action="chartjs#connect"></canvas>
    </div>

    <div class="sec-back-plate graphe">
      <canvas id="TopProg"  data-action="chartjs#connect"></canvas>
    </div>

    <div class="sec-back-plate graphe">
      <canvas id="topclients"  data-action="chartjs#connect"></canvas>
    </div>




  </div>



  <div class="sec-back-plate graphe">

  </div>




</div>

<%# style="height:40vh; width:60vw"
style="height:40vh; width:40vw" %>
