<%= render "shared/header", text: "Tableau de bord" %>
<div class="yield-container">
  <div class="dashboard" data-controller="chartjs">

    <div class="sec-back-plate ">
      <canvas id="CAChart" style="height:40vh; width:60vw" data-action="chartjs#connect"></canvas>
    </div>

    <div class="sec-back-plate ">
      <canvas id="TopProg" style="height:40vh; width:60vw" data-action="chartjs#connect"></canvas>
    </div>

  </div>
</div>
