<div class="backimg">
<%= link_to image_tag("https://res.cloudinary.com/djfpsvwjy/image/upload/v1688567920/group-people-working-out-business-plan-office_ufrzvj.jpg", width: '100%', height: '100%', alt: "Fond", class: "backimg"), "https://www.formatik.app" %>
</div>