.card-global-calendar {
  display: flex;
  grid-gap: 20px;
}

.card-intervenant-calendar {
  width: 1100px;
  background-color: $white;
  padding: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  flex-grow: 1;
  border-radius: $medium-radius;
  border: 1px solid $black;

  a {
    text-decoration: none;
    color: $sec-color;
    font-size: 1.2rem;
  }


  .calendar-title {
    color: $pri-color;
    font-weight: bold;
    font-size: 1.4rem;
  }
}

.calendar-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  width: 50%;
}

.simple-calendar {


  table,
  th,
  td {
    border: 1px solid $pri-color;
  }


  th {
    color: $pri-color;
    width: 150px;
  }

  .day {
    width: 150px;
  }


  .today {
    background-color: $fou-color;
    opacity: 70%;
  }
}

.meeting {
  a {
    color: $white;
    font-weight: bold;
  }

  padding: 10px 10px;
  border-radius: $little-radius;
  // background: $sec-color;
  opacity: 70%;
  transition: background 0.3s ease;
}

.meeting:hover {
  // background: $pri-color;
  opacity: 100%;
  color: $white;
}

.btn-intervenant {
  display: inline-block;
}
