@import 'variables';

.create-cta {
    font-size: 1.2rem;
    border-radius: $medium-radius;
    border: 2px solid $pri-color;
    color: $pri-color;
    background: none;

    transition: .2s ease;

    &:hover {
        color: $white;
        background: $pri-color;
    }
}