@import 'variables';

header {
  // -------------------- Header item
    $header-width: calc(100% - #{$navbar-width});

    width: $header-width;
    height : $header-height;
    background-image: url(https://res.cloudinary.com/djfpsvwjy/image/upload/v1687956436/laura-cleffmann-9NeMqfxFFTE-unsplash_alqzub.png);
    box-shadow: 3px 3px 10px 10px rgba(125, 125, 125, .10);
    border-radius: 5px;
    display: flex;
    margin-left: $navbar-width;
    padding: 0px;
    margin-bottom: 50px;

    .head-img {
        text-decoration: none;
        color: $white;
        font-weight: 500;
        font-size: 3rem;
        text-shadow: 500px solid rgba(0, 0, 0, 0.211);
        padding-left: 20px;
        padding-top: 10px;
    }
}
