// A SUPPRIMER QUAND NAVBAR OK
.intervenants {
  margin-left: 300px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intervenants-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}


.card-intervenants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-intervenant-mini {
  padding: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.card-intervenant-img {
  align-self: center;
  padding: 20px;

  .fa-solid {
    color: $pri-color;
    font-size: 60px;
    line-height: 10px;
  }
}

.card-intervenant-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}
