@import 'variables';

.navbar {
  // -------------------- Navbar item
  height: 100%;
  width : $navbar-width;
  background-color: $white;
  color: $sec-color;
  box-shadow: 3px 3px 10px 10px rgba(125, 125, 125, .10);
  display: flex;
  position: fixed;
  top: 0;
  padding-inline: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;

  .navbar-bottom {
    position: bottom;
    justify-content: center;
    border-bottom: none;
    padding-left: 10px;
    display: flex;
    font-weight: 1em;
  }

  .navbar-bottom-reglage {
    position: bottom;
    justify-content: center;
    border-bottom: none;
    padding-left: 10px;
    display: flex;
    font-size: 0.8em;
  }

  .navbar-bottom-color {
    color: $grey;
  }

  .navbar-bottom-color:hover {
    color: rgb(83, 83, 83);
  }

  .a-logo {
    text-decoration: none;
    color: $black;
    font-weight: 10;
    font-size: 2.3rem;
    border-bottom: 1px solid rgba(196, 196, 196, 0.211);
  }

  li {
    // -------------------- Navbar's menu items
    list-style-type: none;
    justify-content: left;
    border-bottom: 1px solid rgba(196, 196, 196, 0.211);
    padding-top: 10px;
  }

  ul {
    padding-left: 0px;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding-top: 20px;
  }

  ul a {
    // -------------------- Link inside navbar's menu items (rails paths)
    color: $black;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    transition: .2s ease;
    justify-content: left;

    &:hover {
      // -------------------- Hover effect over navbar's menu items
      color: $pri-color;
    }

    &.color-active {
      //----------------------- navbar menu item color when page active
      color: $pri-color !important;
    }

    &.color-active-btn {
      //----------------------- navbar menu item color when page active
      color: $pri-color;
      border: solid 2px $pri-color;
    }

    &.color-active-btn:hover {
      //----------------------- navbar menu item color when page active
      color: $pri-color;
      border: solid 2px $pri-color;
    }
  }

  .settings-btn {
    margin: 5px;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    color: $grey;
    font-weight: 600;
    border: solid 2px $grey;
    border-radius: 25px;
    transition: .2s ease;
  }

  .settings-btn:hover {
    margin: 5px;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    color: $grey;
    background-color: rgba(140, 140, 140, 0.478);
    border: solid 2px $grey;
    border-radius: 25px;
    color: rgb(83, 83, 83);
    transition: .2s ease;
  }


  .navbar-profil {
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 3px solid rgba(196, 196, 196, 0.211);;
    text-decoration: none;
    color: $grey;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
  }

  .navbar-profil-padding {
    padding-left: 15px;
  }

  .img-user {
    clip-path:ellipse(50% 50%);
    img {
      object-fit: cover;
    }
  }
}
