@import 'variables';

.navbar {
  // -------------------- Navbar item
  height: 100%;
  width : $navbar-width;
  background-color: $white;
  color: $sec-color;
  box-shadow: 3px 3px 10px 10px rgba(125, 125, 125, .10);
  display: flex;
  position: fixed;
  top: 0;
  padding-inline: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  
  .navbar-bottom {
    position: bottom;
    justify-content: center;
    border-bottom: none;
    padding-left: 10px;
    display: flex;
  }

  .navbar-bottom-color {
    color: $grey;
  }

  .navbar-bottom-color:hover {
    color: rgb(83, 83, 83);
  }
  
  .a-logo {
    text-decoration: none;
    color: $black;
    font-weight: 10;
    font-size: 2.3rem;
    border-bottom: 1px solid rgba(196, 196, 196, 0.211);
  }

  li {
    // -------------------- Navbar's menu items
    list-style-type: none;
    font-size: 1.2rem;
    justify-content: left;
    border-bottom: 1px solid rgba(196, 196, 196, 0.211);
    padding-top: 20px;
  }

  ul {
    padding-left: 0px;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding-top: 30px;
  }

  ul a {
    // -------------------- Link inside navbar's menu items (rails paths)
    color: $black;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    transition: .2s ease;
    justify-content: left;

    &:hover {
      // -------------------- Hover effect over navbar's menu items
      color: $pri-color;
    }

    .color-active {
      //----------------------- navbar menu item color when page active
      color: $pri-color;
    }
  }
}