/* <---------- COULEURS ----------> */

$pri-color: #0081C9;
$sec-color: #5BC0F8;
$thi-color: #86E5FF;
$fou-color: #FFC93C;
$grey: rgb(140, 140, 140);
$white: white;
$backcolor: rgba(179, 227, 250, 0.183);
$black: black;

/* <---------- TAILLES COMMUNES ----------> */

$navbar-width: 200px;
$header-height: 100px;

$little-radius: 5px;
$medium-radius: 8px;
$big-radius: 15px;

/* <---------- CLASSES UTILITAIRES ----------> */

// Style général

* {
    font-family: 'Montserrat', sans-serif;
}

// Couleurs

.pcolor {
    color: $pri-color
}
.scolor {
    color: $sec-color
}
.tcolor {
    color: $thi-color
}
.fcolor {
    color: $fou-color
}
.white {
    color: white;
}
.grey {
    color: $grey;
}
.black {
    color: $black;
}

// Backgrounds colors

.bg-pcolor {
    background-color: $pri-color
}
.bg-scolor {
    background-color: $sec-color
}
.bg-tcolor {
    background-color: $thi-color
}
.bg-fcolor {
    background-color: $fou-color
}
.bg-white {
    background-color: white;
}
.bg-grey {
    background-color: $grey;
}
