<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons afin de vous confirmer le changement de votre mail par <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons afin de vous confirmer le changement de votre mail par <%= @resource.email %>.</p>
<% end %>
