<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a demandé un changement de mot de passe. Vous pouvez faire cela en cliquant sur le lien suivant.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer ce mail.</p>
<p>Votre mot de passe ne sera pas changé, merci de cliquer sur le lien et en définir un nouveau.</p>
